<template>
    <view class="container">
        <text class="text-color-primary">Listing reddis</text>
        <!--<text>{{myInput}}</text>-->
        <!--<text-input-->
                <!--:style="{height: 40, width:150, borderColor: 'gray', borderWidth: 1}"-->
                <!--v-model="myInput"-->
        <!--/>-->
        <!--<touchable-opacity :on-press="handleButton" :style="{backgroundColor: 'red', padding: 10}">-->
            <!--<text :style="{color: 'white'}">Test button</text>-->
        <!--</touchable-opacity>-->

        <!--<flat-list-->
                <!--:data="countries"-->
                <!--:render-item="(item) => renderList(item)"-->
        <!--/>-->
        <scroll-view :style="{width:'100%'}">
            <view class="border" v-for="post in posts">
                <touchable-opacity class="flex-container" :on-press="() => handleListTap(post)">
                    <image
                            :style="{width: 40, height: 40, borderRadius: 25, marginRight: 8}"
                            :source="{uri: post.data.thumbnail}"
                    />
                    <text>{{post.data.title}}</text>
                </touchable-opacity>
            </view>
        </scroll-view>
    </view>
</template>

<script>
    import axios from 'axios';

    export default {
        props: {
            navigation: {
                type: Object
            }
        },
        mounted() {
            axios
                .get('https://www.reddit.com/r/aww.json')
                .then(response => {
                    // JSON responses are automatically parsed.
                    this.posts = response.data.data.children;
                })
                .catch(e => {
                    this.errors.push(e)
                });
        },
        data() {
            return {
                message: 'hello world',
                myInput: '',
                countries: [
                    { name: 'Egypt', image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'USA' , image: 'https://cdn2.iconfinder.com/data/icons/world-flags-1-1/100/USA_-512.png'},
                    { name: 'Germany' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Germany-2-512.png'},
                    { name: 'Argentina' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Argentina-2-512.png'},
                    { name: 'USA' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Germany' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Egypt' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'USA' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Germany' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Egypt' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'USA' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Germany' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Egypt' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'USA' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'},
                    { name: 'Germany' , image: 'https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Egypt-2-512.png'}
                ],
                posts: [],
                errors: []
            }
        },
        methods: {
            handleButton() {
                this.myInput = 'Button clicked!';
                this.navigation.navigate("Another");
            },
            handleListTap(post) {
                this.navigation.navigate('Another', {
                    imageSrc: post.data.thumbnail
                })
            }
        }
    }
</script>

<style>
    .container {
        background-color: white;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .text-color-primary {
        font-size: 20px;
        color: blue;
    }

    .border {
        border-bottom-width: 1px;
        border-color: grey;
        width: 100%;
        padding: 15px;
    }

    .flex-container {
        flex-direction: row;
        align-items: center;
    }
</style>
